h1(*ngIf="!isAddConcept", mat-dialog-title) Conceptos
    button.cs-close(mat-icon-button, (click)="onNoClick()")
        mat-icon close

.cs-add.theme-treasury(*ngIf="!isAddConcept")
    button(mat-mini-fab, cdkFocusInitial, (click)="toogleConcept()")
        mat-icon add
    p.padding-left Asignar persona

div.cs-row.theme-treasury(*ngIf="isAddConcept")
    button(mat-icon-button, (click)="toogleConcept()")
        mat-icon arrow_back

    span Crear concepto


div.theme-treasury.no-padding(mat-dialog-content)
    mat-table(*ngIf="!isAddConcept", #table, [dataSource]="conceptos")
        ng-container(matColumnDef="description")
            mat-header-cell(*matHeaderCellDef) description
            mat-cell(*matCellDef="let element") {{element.description}}
        ng-container(matColumnDef="type")
            mat-header-cell.w-100(*matHeaderCellDef) Tipo
            mat-cell.w-100(*matCellDef="let element") {{element.type}}
        ng-container(matColumnDef="date")
            mat-header-cell.w-100(*matHeaderCellDef) Fecha
            mat-cell.w-100(*matCellDef="let element") {{element.date}}
        ng-container(matColumnDef="amount_ref")
            mat-header-cell.w-100(*matHeaderCellDef) Monto ref. (S/)
            mat-cell.w-100(*matCellDef="let element") {{element.amount_ref}}
        ng-container(matColumnDef="state")
            mat-header-cell.w-80(*matHeaderCellDef) Estado
            mat-cell.w-80(*matCellDef="let element")
                mat-slide-toggle(*ngIf="element.flg_edit == 2", [checked]="element.state")
                mat-icon(*ngIf="element.flg_edit == 1",[matTooltip]="element.tooltip") lock

        mat-header-row(*matHeaderRowDef="displayedColumns")
        mat-row(*matRowDef="let row; columns: displayedColumns;", (click)="selection.toggle(row)")
    



    form(*ngIf="isAddConcept", [formGroup]="conceptForm")
        mat-form-field.full-width
            input(type="text", matInput, placeholder="Tipo", formControlName="description")
            mat-error(*ngIf="conceptForm.controls.description.invalid") Ingresa una descripción
        mat-form-field.full-width
            mat-select(placeholder="Tipo de movimiento", panelClass="cs-treasury-select", formControlName="typeMovement", required)
                mat-option(*ngFor="let elem of list_type_move",[value]="elem.id_combo") {{ elem.desc_combo }}
            mat-error(*ngIf="conceptForm.controls.typeMovement.invalid") Seleccionar un tipo de movimiento
            
        mat-form-field.full-width
            span(matPrefix) S/ &nbsp;
            input(matInput, onlyNumber, placeholder="Monto de referencia", formControlName="amount", name="monto", required)
            mat-error(*ngIf="conceptForm.controls.amount.invalid") Ingresa un monto

div.theme-treasury.mat-dialog-actions.no-padding-top(mat-dialog-actions)
    mat-paginator(*ngIf="!isAddConcept", #paginator, [pageSize]="10", [pageSizeOptions]="[5, 10, 20]", [showFirstLastButtons]="true")
    div.cs-buttons
        button(*ngIf="!isAddConcept", color="accent", mat-button, (click)="onNoClick()") {{ 'cancelar' | uppercase }}
        button(*ngIf="!isAddConcept", color="accent", mat-button, [mat-dialog-close]="data.animal", disabled="true") CONFIRMAR

        button(*ngIf="isAddConcept", color="accent", mat-button, [disabled]="conceptForm.invalid", (click)="createConcept()") {{ 'crear' | uppercase }}

